<h1>Your Basket</h1>
<section id="products">
  <div class="row">
    <div class="col-md-6">
      <% if @orderitems.any? %>
        <table class="table table-striped">
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <%= render @orderitems %>
        </table>
      <% else %>
        <div class="well">
          Your basket is empty
        </div>
      <% end %>
    </div>
  </div>
</section>

