<h1 class="text-center">Order History</h1>
<section id="orders">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% if @orders %>
        <table class="table table-striped">
          <tr>
            <th>Order Ref</th>
            <th>Order Date</th>
            <th class="text-center">Dispatached</th>
          </tr>
          <%= render @orders %>
        </table>
      <% else %>
        <div class="well">
          Time to place your first order!
        </div>
      <% end %>
    </div>
  </div>
</section>
